@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Welcome</h1>
    
    <form asp-controller="Home" asp-action="Index" method="post">
        Github Organization: <input name="organization" type="text" />
        <br />
        <button class="btn btn-info" type="submit" id="submit-btn">
            Lookup!
        </button>
    </form>

</div>
